.content {
    font-family: Consolas, "PingFang SC", "Microsoft Yahei", Courier, "Ubuntu Mono", Monaco, Menlo, "Times New Roman", Times, serif;
  }

.hextra-card {
  text-decoration: none !important;
}

.hextra-card:hover {
  text-decoration: none !important;
}